.option{
    border-radius: 0.7em;
    border: 2px solid #96969634;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    margin-bottom: 0.7em;

    &:hover{
        background-color: #D8F3F4;
    }

    input[type=text]{
        border: none;
        width: 80%;
        margin-left: 0.7em;
        background-color: inherit;

        &:focus{
            outline: none;
        }
    }

    input[type=radio]{
        height: 1.2em;
        width: 1.2em;
        margin-top: 0.5em;
        margin-right: 1em;
    }

    .letter{
        color: #32BFC3;
        align-self: center;
        margin-left: 0.5em;
        font-weight: bold;
    }
}