.userInfo{
    .nickname{
        font-weight: bold;
        font-size: 1em;
        font-family: "poppins-regular"
    }

    .email{
        font-size: 0.8em;
        color: #616161;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 1em;
    }

    .avatar{
        img{
            width: 2.8em;
        }
    }

    .table-container{
        overflow: auto;
        svg{
            width: 1.5em;
        }
    }

    .arrow-btn{
        cursor: pointer;
        user-select: none;

        .open{
            transform: rotate(180deg);
            transition: 0.5s;
        }

        .closed{
            transform: rotate(0deg);
            transition: 0.5s;
        }
    }
}
