@import '../../styles/colors.scss';

.profile-view{
    .view-title{
        font-size: x-large;
        color: $color-primary-dark;
        font-weight: 700;
        margin-bottom: 1.5em;
    }

    .user-card{
        border-radius: 1em;
        min-height: 6em;
        min-width: 10em;
        -webkit-box-shadow: -2px 2px 15px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 2px 15px -7px rgba(0,0,0,0.75);
        box-shadow: -2px 2px 15px -7px rgba(0,0,0,0.75);
    }

    .cform{
        background-color: rgb(255, 255, 255);

        .form__field{
            border: none;
        }
    }
}