@import '../../styles/colors.scss';
@import '../../components/button/button.scss';

.bugs-view{
    .view-title{
        font-size: x-large;
        color: $color-primary-dark;
        font-weight: 700;
        margin-bottom: 1.5em;
    }

    .text-area{
        background-color: #EFF7FD;
        width: 100%;
        padding: 1em;
        border-radius: 10px;
        border: 1px solid #fff;
    }

    
}