@import '../../styles/colors.scss';

.button{
    border-radius: 0.688em;
    background-color: $color-accent;
    min-height: 2.125em;
    min-width: 2.125em;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-position: center;
    transition: background 0.8s;
    color: $color-gray;
    transition: color 0.5s;
    

    &:hover{
        background: $color-primary radial-gradient(circle, transparent 1%, $color-primary 1%) center/15000%;
        color: $white;
        transition: color 2s;
        transition: background 0.8s;
    }

    &:active{
        background-color: #ffffffb0;
        background-size: 100%;
        transition: background 0s;
    }
}

.button-primary{
    @extend .button;

    .icon{
        fill: $color-primary-dark;
        stroke: $color-primary-dark;
        transition: 0.5s;
    }

    &:hover .icon{
        transition: 0.8s;
        fill: white;
        stroke: white;
    }
    
    &-active{

        background: $color-primary radial-gradient(circle, transparent 1%, $color-primary 1%) center/15000%;

        .icon{
            fill: #fff;
            stroke: white;
            transition: 0.5s;
        }
    }
}