@import '../../../../components/button/button.scss';

.reading-view{
    margin-top: 2em;
    background-color: #fff;
    position: relative;

    input::file-selector-button {
        @extend .button-primary;
        font-size: 0.9em;
        padding: 0.5em;
        display: inline-block;
    }

    .navigation-buttons{
        visibility: hidden;
        position: absolute;
        top: -2em;
        right: 0;
    }

    .r-container{
        background: #F6FBFF;
        border-radius: 0.4em;
        padding: 1em;
        min-height: 23em;
        width: 100%;
        margin-top: 1em;
        position: relative;
        overflow-x: auto;

        &-is-editing{
            border: 4px solid #FBE9E7;
            background-color: #FFF;
        }
    }

    textarea{
        width: 100%;
        border-radius: 0.3em;
        border: 1px solid rgb(175, 175, 175);
        padding: 0.3em;
    }
}

.ccard{
    min-width: 26em;
    position: relative;
}

.floatbtn{
    position: fixed;
    bottom:3em;
    right: 2.5em;
    max-height: 50px;
    z-index: 2200;
    border-radius: 50% !important;
    height: 4.2em;
    width: 4.2em;
    max-width: 4.2em;
    max-height: 4.2em;
    -webkit-box-shadow: 3px 14px 30px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 14px 30px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 14px 30px -9px rgba(0,0,0,0.75);
    background: #08677C;

    svg{
        width: 2.2em !important;
        height: 2.2em !important;
    }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
    .floatbtn{
        right: 2.5em !important;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 60em) {
    .floatbtn{
        right: 28em !important;
    }
}