.f-size-normal{
    textarea{
        font-size: medium !important;
    }
}

.f-s-description{
    textarea{
        font-size: large !important;
        font-weight: bold !important;
        text-align: center !important;
    }
}