$white:  #ffffff;

// LIGHT COLORS --------------------------------
$color-primary: #0FB4B9;
$color-primary-dark: #08677C;
$color-accent: #D8F3F4;

$color-gray: #616161;
$color-gray-dark: #C0C0C0;
$color-gray-ligth: #E5E5E5;

$color-black: #000000;
$background-color: #E3F2FD;

// DARK MODE --------------------------------


