.rotate-left{
    transform: rotate(90deg);
}

.rotate-right{
    transform: rotate(-90deg);
}


/*Tamaños de fuentes*/

.fs{
    font-size: 1em;
}

.fs1{
    font-size: 1em;
}

.fs2{
    font-size: 1.3em;
}

.fs3{
    font-size: 1.5em;
}

.fs4{
    font-size: 1.7em;
}

.fbold{
    font-weight: bold;
}
