@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-black';
    src: url('../fonts/poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'poppins-thin';
    src: url('../fonts/poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'poppins-semiBold';
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}