@import '../../styles/colors.scss';

/*
@media only screen and (max-width: 600px) {
    .info-card{
        margin-bottom: 1.5em;
    }
}
*/

.info-card{
    border-radius: 1em;
    overflow: hidden;
    background-color: rgb(110, 110, 110);
    align-items: center;
    min-height: 7em;
    min-width: 7em;
    display: flex;
    color: #FFF;
    position: relative;

    h4{
        margin-top: 1em;
        font-weight: bold;
    }

    .text-container{
        text-align: start;
        z-index: 20;
    }

    .dot1{
        right: -5em;
        top: -75%;
        z-index: 1;
    }

    .dot2{
        top:-100%;
        right: 5%;
        z-index: 0;
    }
}

.dot{
    height: 13em;
    width: 13em;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}

.info-card-primary{
    @extend .info-card;
    background-color: #17B6BB;

    .dot1{        
        @extend .dot;    
        background-color: rgba($color: #159397, $alpha: 0.5);
    }
    
    .dot2{        
        @extend .dot;    
        background-color: rgba($color:  #41c6ca, $alpha: 0.9);
    }
}

.info-card-dark{
    @extend .info-card;
    background-color: #12778D;

    .dot1{        
        @extend .dot;    
        background-color: rgba($color: #08677C, $alpha: 0.7);           
    }
    
    .dot2{        
        @extend .dot;    
        background-color: rgba($color: #1588A1, $alpha: 0.7);
    }
}



