@import '../../styles/colors.scss';

.header{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 5.313em;
    padding: 1em;
    z-index: 100;

    &::after, &::before {
        box-sizing: inherit;
    }
    
    box-shadow: none;
    background-image: none;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    z-index: 1100;
    top: 0px;
    left: auto;
    right: 0px;
    color: inherit;
    background-color: rgb(255, 255, 255);
    transition: none 0s ease 0s;

    .udespeak-logo{
        min-width: 9.375em;
        display: flex;

        svg{
            margin-top: 0.313em;
            height: 2.5em;
            width: 8.125em;
        }
    }

    .header-search-btn{
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header{
        .udespeak-logo{
            display: none;
        }

        .header-search-btn{
            display: flex;
        }
    }       
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header{
        .udespeak-logo{
            display: none;
        }

        .header-search-btn{
            display: flex;
        }
    } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header{
        .udespeak-logo{
            display: flex;
        }

        .header-search-btn{
            display: none;
        }
    } 
}