@import '../../styles/colors.scss';

$sidebar-w: 16.25em;

.sidebar{    
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: $sidebar-w;
    top: 5.25em;
    bottom: 0px;
    z-index: 100;
    
    &-open{
        width: $sidebar-w;
        max-width: $sidebar-w;
        transform: translate(0);
        
        + .view-container{
            left: $sidebar-w;
        }
    }

    &-close{
        transform: translate(-$sidebar-w);
    }

    transition: 0.5s ease;

    .content-sidebar{
        margin-top: 2em;
        width: 100%;
        padding: 0.3em;
    }

    .title{
        color: rgb(77, 77, 77);
        font-weight: bold;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sidebar{
        &-open{     
            -webkit-box-shadow: 0px 0px 47px -4px rgba(0,0,0,0.51); 
            box-shadow: 0px 0px 47px -4px rgba(0,0,0,0.51);

            width: $sidebar-w;
            max-width: $sidebar-w;
            transform: translate(0);
            background-color: rgb(255, 255, 255);

            + .view-container{
                left: 0;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sidebar{
        &-open{
            -webkit-box-shadow: 0px 0px 47px -4px rgba(0,0,0,0.51); 
            box-shadow: 0px 0px 47px -4px rgba(0,0,0,0.51);
            width: $sidebar-w;
            max-width: $sidebar-w;
            transform: translate(0);
            background-color: rgb(255, 255, 255);

            + .view-container{
                left: 0;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .sidebar{
        box-shadow: none;
        &-open{
            width: $sidebar-w;
            max-width: $sidebar-w;
            transform: translate(0);
            background-color: rgb(255, 255, 255);

            + .view-container{
                left: $sidebar-w;
            }
        }
    }
}