@import './styles/fonts.scss';
@import './styles/colors.scss';

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins-regular';
}

.icon{
    width: 1.3em;
    height: 1.3em;
    stroke: #08677C;
    fill: #08677C;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 134, 134); 
    border-radius: 5px;
  }