@import './styles/fonts.scss';
@import './styles/colors.scss';

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins-regular';
}

.icon{
    width: 1.3em;
    height: 1.3em;
    stroke: #08677C;
    fill: #08677C;
    cursor: pointer;
}